<div class="container">

  <h1>Minhas tarefas</h1>

  <div class="form-tarefa">
    <input
      type="text"
      [(ngModel)]="novaTarefa"
      placeholder="Digite uma nova tarefa"
    >

    <button (click)="adicionarTarefa()">
      Adicionar
    </button>
  </div>

  <div class="lista-tarefas">

    <div class="tarefa" *ngFor="let tarefa of tarefas">

      <div class="descricao">

        <span *ngIf="tarefaEditandoId !== +tarefa.id">
          <strong>{{ tarefa.id }}</strong>
          - {{ tarefa.titulo }}
        </span>

        <span *ngIf="tarefaEditandoId === +tarefa.id">
          <strong>{{ tarefa.id }}</strong>
          -

          <input
            type="text"
            [(ngModel)]="tarefa.titulo"
          >

          <button (click)="salvarEdicao(tarefa)">
            Salvar
          </button>
        </span>

      </div>

      <div class="acoes">

        <button
          class="btn-editar"
          (click)="editarTarefa(tarefa.id)"
        >
          Editar
        </button>

        <button
          class="btn-excluir"
          (click)="excluirTarefa(tarefa.id)"
        >
          Excluir
        </button>

      </div>

    </div>

  </div>

</div>
